# Class 1

Welcome back!

Let's review.

1. Data types
2. Variables
3. Operators
4. Conditional statements
5. Loops
6. Data structures
7. Functions

In [1]:
s = "This is a string"
f = 3.14 # This is a float
i = 5 # This is an integer
b = True    # This is a boolean

In [3]:
# Arithmetic Operators:

1 + 1
2 * 2
6 / 3
4 - 5
12 % 4
2 ** 3

8

In [4]:
# Logical Operators

True and True

True

In [5]:
True and False

False

In [6]:
True or False

True

In [7]:
False or False

False

In [8]:
not True

False

In [10]:
"Mr." + "Tucker" # String concatenation

'Mr.Tucker'

In [11]:
"Tigers" * 4

'TigersTigersTigersTigers'

In [12]:
"Reid".upper()

'REID'

In [13]:
if 5 > 4:
    print("Five is greater than 4")

Five is greater than 4

In [16]:
x = 10
y = 10

if x > y:
    print("X is greater")
elif x == y:
    print("They're the same")
else:
    print("Y is greater")

They're the same

In [17]:
x = 22
while x > 10:
    print("X is", x)
    x -= 1

X is 22
X is 21
X is 20
X is 19
X is 18
X is 17
X is 16
X is 15
X is 14
X is 13
X is 12
X is 11

In [21]:
s = 0
for i in range(100):
    s += i

print(s)

4950

In [22]:
l = [1, 2, 3, 4, 5, 6]

for item in l:
    print(item)

1
2
3
4
5
6

In [33]:
# Dictionary
d = {"This is a key": "This is a value"}
# Lists
l = [1, 2, 3, 4, 5, 6, 7]
# Tuple
t = (1, 2, 3, 4, 5, 6)
# Set
s = {1, 2, 3, 4, 5, 6, 6}

In [24]:
d["This is a key"]

'This is a value'

In [26]:
l.append(8)

In [29]:
t2 = ([1, 2, 3, 4], [5, 6, 7, 8])

In [31]:
t2[0].append(5)

In [32]:
t2

([1, 2, 3, 4, 5], [5, 6, 7, 8])

In [34]:
s

{1, 2, 3, 4, 5, 6}

In [35]:
# Given a list, remove all the duplicate items:

lis = [1, 2, 2, 4, 5, 6, 2, 45, 5]
lis = list(set(lis))

In [36]:
lis

[1, 2, 4, 5, 6, 45]

In [37]:
pow(4, 2)

16

In [38]:
def power(base, exp):
    return base ** exp

In [39]:
power(4, 2)

16

In [40]:
power(3.14, 5.21)

388.15346415032184

In [42]:
def letter_grade(num_grade):
    if num_grade >= 93:
        return "A"
    elif num_grade >=90:
        return "A-"
    elif num_grade >=87: 
        return "B+"
    elif num_grade >=83:
        return "B"
    elif num_grade >= 80:
        return "B-"
    else:
        return "F"

In [46]:
letter_grade(90)

'A-'

In [47]:
def build_study():
    terms = {}
    term = input("What is the term? Enter 'q' to quit.")
    while term != "q":
        defn = input("What is the definition for %s"%term)
        terms[term] = defn
        term = input("What is the term? Enter 'q' to quit.")

    return terms

In [48]:
guide = build_study()

{'estudiar': 'to study',
 'hablar': 'to talk',
 'jugar': 'to play',
 'comer': 'to eat'}

In [49]:
terms

NameError: name 'terms' is not defined