# Class 2

## Lists

Def:\
An ordered collection of elements.

Syntax:\
Denoted by square brackets, with elements separated by commas.

Properties:
- Mutable
- Ordered
- Elements can be of any type
- Elements have a unique index in the list

Working with them:
- Element-based loop
- Index-based loop

Methods:
- len(list)
- list.append() to add to the end
- list.insert()
- and many others

In [8]:
list1 = [1, 2, 3, 4, 5] # Ordered
list1

[1, 2, 3, 4, 5]

In [9]:
list1[0] = 10   # mutable
list1

[10, 2, 3, 4, 5]

In [10]:
list1[0] = "Python" # Elements can be of any type
list1

['Python', 2, 3, 4, 5]

In [11]:
for item in list1:  # Element-based loop
    print(item)

Python
2
3
4
5

In [12]:
for i in range(len(list1)): # Index-based loop
    print(list1[i])

Python
2
3
4
5

In [13]:
len(list1)

5

In [21]:
hex(id(list1))

'0x104ae6c80'

## Dictionaries

Def:\
A dictionary is an unordered collection (data structure) of key-value pairs.

Syntax:\
Denoted by curly braces, with items separated by commas, and key-value pairs separated by colons.

Properties:
- Unordered
- Accessed by key not index
- Values can be of any type, but keys must be immutable or atomic.
- Mutable

Working with them:
- For loop through the keys()
    - for key in dict.keys():
- Loop directly through the values()
- Loop through the items()

Methods:
- .keys()
- .items()
- .values()
- .get()

In [30]:
dict1 = {"Ben": 18, "Reid": 17, "Mr. Tucker": 24, 24: "Old"} # Looks ordered but is technically not ordered
dict1

{'Ben': 18, 'Reid': 17, 'Mr. Tucker': 24, 24: 'Old'}

In [31]:
dict1["Reid"]

17

In [33]:
dict1[24] = [1, 2, 3, 4]    # Values can be of any type
dict1

{'Ben': 18, 'Reid': 17, 'Mr. Tucker': 24, 24: [1, 2, 3, 4]}

In [35]:
dict1[[1, 2, 3, 4]] = "Stupid list"     # Keys must be immutable/atomic

TypeError: unhashable type: 'list'

In [38]:
dict1[2.17] = 5
dict1

{'Ben': 18, 'Reid': 17, 'Mr. Tucker': 24, 24: [1, 2, 3, 4], 2.17: 5}

In [39]:
dict1[True] = "True"
dict1

{'Ben': 18,
 'Reid': 17,
 'Mr. Tucker': 24,
 24: [1, 2, 3, 4],
 2.17: 5,
 True: 'True'}

In [41]:
list(dict1.keys())

['Ben', 'Reid', 'Mr. Tucker', 24, 2.17, True]

In [42]:
list(dict1.values())

[18, 17, 24, [1, 2, 3, 4], 5, 'True']

In [43]:
list(dict1.items())

[('Ben', 18),
 ('Reid', 17),
 ('Mr. Tucker', 24),
 (24, [1, 2, 3, 4]),
 (2.17, 5),
 (True, 'True')]

In [47]:
for key in dict1.keys():
    print(key, dict1[key])

Ben 18
Reid 17
Mr. Tucker 24
24 [1, 2, 3, 4]
2.17 5
True True

In [46]:
for item in dict1.values():
    print(item)

18
17
24
[1, 2, 3, 4]
5
True

In [48]:
for key, value in dict1.items():
    print(key, value)

Ben 18
Reid 17
Mr. Tucker 24
24 [1, 2, 3, 4]
2.17 5
True True

In [49]:
dict1.items()

dict_items([('Ben', 18), ('Reid', 17), ('Mr. Tucker', 24), (24, [1, 2, 3, 4]), (2.17, 5), (True, 'True')])

In [50]:
dict1["new item"] = 5
dict1

{'Ben': 18,
 'Reid': 17,
 'Mr. Tucker': 24,
 24: [1, 2, 3, 4],
 2.17: 5,
 True: 'True',
 'new item': 5}

In [53]:
print(dict1.get("weifubwf"))

None

In [54]:
dict1["weiufbwnf"]

KeyError: 'weiufbwnf'

In [57]:
# Cool use of dictionaries

s = """Hash Data Structure Overview
It is one of the most widely used data structure after arrays.
It mainly supports search, insert and delete in O(1) time on average which is more efficient than other popular data structures like arrays, Linked List and Self Balancing BST.
We use hashing for dictionaries, frequency counting, maintaining data for quick access by key, etc.
Real World Applications include Database Indexing, Cryptography, Caches, Symbol Table and Dictionaries.
There are mainly two forms of hash typically implemented in programming languages.
Hash Set : Collection if unique keys (Implemented as Set in Python, Set in JavaScrtipt, unordered_set in C++ and HashSet in Java.
Hash Map : Collection of key value pairs with keys being unique"""

letters = {}
for c in s:
    if c in letters.keys():
        letters[c] += 1
    else:
        letters[c] = 1

In [58]:
letters

{'H': 4,
 'a': 58,
 's': 35,
 'h': 19,
 ' ': 110,
 'D': 3,
 't': 46,
 'S': 9,
 'r': 36,
 'u': 21,
 'c': 22,
 'e': 66,
 'O': 2,
 'v': 6,
 'i': 49,
 'w': 5,
 '\n': 7,
 'I': 4,
 'o': 28,
 'n': 44,
 'f': 12,
 'm': 14,
 'd': 19,
 'l': 24,
 'y': 17,
 '.': 6,
 'p': 15,
 ',': 10,
 '(': 2,
 '1': 1,
 ')': 1,
 'g': 12,
 'k': 7,
 'L': 2,
 'B': 2,
 'T': 3,
 'W': 2,
 'q': 4,
 'b': 5,
 'R': 1,
 'A': 1,
 'x': 1,
 'C': 5,
 ':': 2,
 'P': 1,
 'J': 2,
 '_': 1,
 '+': 2,
 'M': 1}

## Tuples

Def:\
A tuple is an ordered, immutable collection of elements.

Syntax:\
Denoted by parenthesis with elements separated by commas.

Properties:
- Ordered
- Immutable
- Elements have a unique index

Working with them:
- Very similar to lists, just cannot be changed

Methods:
- .count()
- .index()

In [65]:
tup = (1, 2, 3, 4, 1, 1, 4, "Ben", "Reid")
tup

(1, 2, 3, 4, 1, 1, 4, 'Ben', 'Reid')

In [67]:
tup.count("Ben")    # Number of occurrences of the argument

1

In [68]:
len(tup)    # number of items

9

In [71]:
tup.index("Ben")   # Index of the element

7

In [74]:
tup[0] = 100

TypeError: 'tuple' object does not support item assignment

In [75]:
for item in tup:
    print(item)

1
2
3
4
1
1
4
Ben
Reid

In [77]:
for i in range(len(tup)):
    tup[i] += 1

TypeError: 'tuple' object does not support item assignment

In [81]:
tup2 = (1, 2, [1, 2, 3])

In [82]:
tup2[2].append(4)
tup2

(1, 2, [1, 2, 3, 4])

In [84]:
dict2 = {(1, 2): "Ben"}
dict2

{(1, 2): 'Ben'}

## Sets

Def:\
An unordered, mutable collection of unique elements.

Syntax:\
Denoted by curly braces with elements separated by commas.

Properties:
- Unordered
- Mutable
- 

Working with them:
- Loop through the elements
- Mainly used for mathematical operations, or to determine unique elements

Methods:
- .union()
- .intersection()
- .difference
- And a ton more [Python Set Documentation](https://docs.python.org/3/tutorial/datastructures.html#sets)

In [85]:
set1 = {1, 2, 3, 4}
set1

{1, 2, 3, 4}

In [86]:
set1.add(5)
set1

{1, 2, 3, 4, 5}

In [87]:
set1.add(1)
set1

{1, 2, 3, 4, 5}

In [91]:
set(s)

{'\n',
 ' ',
 '(',
 ')',
 '+',
 ',',
 '.',
 '1',
 ':',
 'A',
 'B',
 'C',
 'D',
 'H',
 'I',
 'J',
 'L',
 'M',
 'O',
 'P',
 'R',
 'S',
 'T',
 'W',
 '_',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y'}

In [92]:
set1

TypeError: 'set' object is not subscriptable